// List Items
.list-item {
  display: flex;
  flex-direction: column;
}
// Price Default
.price {
  .price-integer {
    padding: 0 5px;
  }
  .price-decimal {
    vertical-align: text-top;
  }
}
// Free Shipping Badge
.free-shipping {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: $success;
  line-height: 17px;
  vertical-align: middle;
  text-align: center;
  svg {
    vertical-align: middle;
  }
}
// Status Product
.status-product {
  font-size: 14px;
  display: block;
  margin-bottom: 16px;
}
// Item List
.item {
  margin: 0 16px;
  padding: 16px 0px;
  border-bottom: 1px solid $gray-100;
  position: relative;
  .column-figure {
    flex-basis: 196px;
    max-width: 196px;
    padding-left: 0px;
    padding-right: 16px;
  }
  .column-description {
    padding-left: 0;
    flex-basis: calc(100% - 196px);
    max-width: calc(100% - 196px);
  }
  .item-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    max-width: 180px;

    img {
      margin: 0 auto;
      height: 180px;
      max-width: 180px;
      object-fit: contain;
      border-radius: 4px;
    }
  }
  .item-price-shipping {
    display: flex;
    margin-top: 18px;
    margin-bottom: 32px;
    align-items: center;
    .item-price {
      display: block;
      font-size: 24px;
      color: $dark;
      .price-decimal {
        font-size: 10px;
      }
    }
    .free-shipping {
      margin-left: 10px;
    }
  }

  .item-title {
    a {
      font-weight: $font-weight-light;
      color: $dark;
      text-decoration: none;
      font-weight: $font-weight-light;
      font-size: 18px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .item-location {
    font-size: 12px;
    margin-top: 24px;
    display: block;
    color: $dark;
  }
  &:last-child {
    border-bottom: none;
  }
  @include media-breakpoint-down(md) {
    .column-description,
    .column-figure{
        flex-basis: 100%;
        max-width: 100%;
        padding-left: 13px;
        padding-right: 13px;
      
    }
  }
}
// Category List
.categories {
  display: flex;
  list-style: none;
  padding: 0;
  min-height: 20px;
  margin: 16px 0;
  > li {
    line-height: 20px;
    font-size: 14px;
    padding-right: 15px;
    position: relative;
    &:before {
      content: ">";
      position: absolute;
      right: 4px;
      top: 0;
    }
    &:last-child {
      padding-right: 0;
      &:before {
        content: none;
      }
    }
  }
}
// Item Details
.item-details {
  padding-top: 32px;
  .item-primary-information{
    padding-right: 32px;
    @include media-breakpoint-down(md) {
      padding: 32px;
    }
  }
  .item-figure {
    text-align: center;
  }
  .item-title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .item-price {
    display: block;
    font-size: 46px;
    color: $dark;
    margin-bottom: 32px;
    .price-decimal {
      font-size: 32px;
    }
  }
  .item-description-content{
    padding: 32px;
    .item-description-content-title{
      font-size: 28px;
      font-weight: $dark;
      display: block;
      margin-bottom: 32px;
    }
    .item-description-content-pargraph{
      font-size: 16px;
    }
  }
}
